package views

templ SandboxTempl() {
	// <div>
	// 	<button hx-get="/lazy-load" hx-indicator="#views-lazy-load" hx-trigger="click">
	// 		Post It!
	// 	</button>
	// 	<span id="views-lazy-load" class="htmx-indicator loading loading-infinity loading-lg"></span>
	// </div>
}
